<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Расчет площади треугольника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post" action="triangle">
        <input type="text" name="sideA" placeholder="Введите сторону A"/>
        <input type="text" name="sideB" placeholder="Введите сторону B"/>
        <input type="text" name="sideC" placeholder="Введите сторону C"/>
        <button type="submit" name="calculate">Вычислить</button>
        <button type="submit" name="calculate">Расчет</button>
    </form>
</div>
<div>
    <p name="result" th:text="${squareTriangle}"/>
</div>
<div>
    <a href="/main">На главную страницу</a>
</div>
</body>
</html>